<section class="socialSection">
  <div class="flexContainer">
    <div class="oneFifthColumn">
      <a href="https://www.youtube.com/channel/UCEXc49__z8-6zAujyBZLGsQ" target="_blank" class="imgContainer">
        <img src="../img/yt.png" alt="youtube">
      </a>
      <p>Watch my latest videos</p>
    </div>
    <div class="oneFifthColumn">
      <a href="https://www.instagram.com/eufrac.io/" target="_blank" class="imgContainer">
        <img src="../img/ig.png" alt="youtube">
      </a>
      <p>Follow my dev journey</p>
    </div>
    <div class="oneFifthColumn">
      <a href="https://www.snapchat.com/add/mreufracio" target="_blank" class="imgContainer">
        <img src="../img/sc.png" alt="snapchat">
      </a>
      <p>Were I document my dev process</p>
    </div>
    <div class="oneFifthColumn">
      <a href="https://www.facebook.com/AdrianEufracioDev/" target="_blank" class="imgContainer">
        <img src="../img/fb.png" alt="facebook">
      </a>
      <p>My hub for all my dev activites</p>
    </div>
    <div class="oneFifthColumn">
      <a href="https://github.com/a0r1an/" target="_blank" class="imgContainer">
        <img src="../img/gh.png" alt="github">
      </a>
      <p>All of my code bases</p>
    </div>
  </div>  
</section>