/**
 * header
 */
.header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    .logo {
    font-size: 38px;
    font-weight: 300;
    font-family: $fancy-font-family;
    letter-spacing: -1px;
    margin-bottom: 0;
    display: block;
    text-align: center;
    padding: 10px;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}
}

